
// COLORS

    // Main
    $blue-navy-primary: #0071bc;
    $blue-navy-secondary: #002238;
    // Utility
    $info: #90bddb;
    $danger: #af3636;
    $warning: #c5953d;
    $success: #70b82c;
    $light: #e9eff3;
    $dark: #34363d;
    // Texts

// FONTS

    $font-family-primary: all-round-gothic, sans-serif;
    $font-family-secondary: mascot-mvb, sans-serif;

// POSITIONS

    // Block

    // Inline

// DIMENSION

    // Block

    // Inline